/* default CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ECECEC;
    color: #FFFFFF;
}

.container-fluid {
    max-width: 98%;
    margin: auto;
}

nav{
    border-bottom: 1px solid white;
}

header{
    background-color: #303030;
}

/* default CSS ends */


/* Navbar CSS */
.navbar-nav li{
    margin-right: 35px;
}

.nav-link{
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.nav-link:hover{
    color: #FFFFFF;
}

/* Navbar CSS ends */

.hero-img{
    width: 100%;
    height: auto;
}

.hero-img img{
    width: 100%;
    height: 100%;
}

.hero-container{
    background-color: #303030;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hero-text-heading{
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}

.hero-text-paragraph{
    font-size: 24px;
    line-height: 40px;
    font-weight: 100;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
}

.hero-primary-button, .hero-secondary-button{
    background-color: white;
    padding: 11px;
    color: black;
    border: none;
    border-radius: 9px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 100;
}
.hero-secondary-button{
    background-color: #303030;
    border: 1px solid white;
    color: white;
    margin-left: 10px;
}


/* Services CSS */

.card-title, .card-text{
    color: black;
}

.card-title{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 29px;
    font-size: 20px;
}

.card-text{
    font-family: 'Nunito', sans-serif;
    text-align: justify;
    font-size: 18px;
}

.card-footer{
    background-color: #303030;
    text-align: center;
}

.card-footer-text a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

/* Services CSS ends */

/* Extra Info Section CSS */

.extra_info_section{
    background-color: #303030;
}

.extra_info_container{
    padding: 10px;
}

.extra_info_text{
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    text-align: center;
    line-height: 40px;
}

/* Collaboration section css */

.collaboration_section{
    color: black;
    padding:40px 0;
}

.first_step_heading{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
}
.first_step_paragraph{
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    padding: 20px 0;
}

button{
    background-color: #303030;
    padding: 11px;
    color: #FFFFFF;
    border: none;
    border-radius: 9px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.iits_list{
    padding: 20px 0;
}

.iits_list a{
    color: black;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}
/* Collaboration section css ends */

/* Footer CSS*/

footer{
    background-color: #303030;
    padding: 20px;
}
.footer-img-container{
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.footer-img-container img{
    width: 100%;
    height: 100%;
}
/* Footer CSS Ends*/